
.wrapper {
    width: 100%;
}

.label {
    width: 35%;
}

.value {
    width: 65%;
    text-align: right;
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis
}